@model City.IMS.ViewModels.CityListingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var countryId = Model.CountryId.HasValue ? Model.CountryId.Value : 0;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div  class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col col-lg-12">
                <h2>View Cities</h2>
                <hr />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-lg-12">
                <form id="AuctionControlForm">
                    <div class="input-group">
                        <input type="text" id="searchTxt" name="search" class="form-control mr-1" placeholder="Search by title..." value="@Model.CityName">
                        @if (Model.Countries != null && Model.Countries.Count() > 0)
                        {
                            <select class="form-control mr-1" name="CountryId" id="selectCountry">
                                <option value="0" disabled selected>
                                    Select Category
                                </option>
                                @foreach (var country in Model.Countries)
                                {
                                    var selected = country.Id == countryId ? "selected" : string.Empty;
                                    <option value="@country.Id" @selected>
                                        @country.Name
                                    </option>
                                }
                            </select>
                        }


                        <div class="input-group-append link-danger" id="button-addon4">
                            <button id="searchBtn" class="btn btn-primary mr-1" type="button">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div>

            <table class="table table-striped">
                <thead style="background-color:darkseagreen">
                    <tr>
                        <td>SL#</td>

                        <td>City Name</td>

                        <td>About</td>

                        <td>No. Of Dwellers</td>

                        <td>Location</td>

                        <td>Weather</td>

                        <td>Country</td>

                        <td>About Country</td>
                    </tr>

                </thead>
                <tbody>
                    @if (Model.Citymodels != null && Model.Citymodels.Count > 0)
                    {
                        foreach (var city in Model.Citymodels)
                        {
                            <tr>
                                <td>@city.Id</td>

                                <td>@city.Name</td>

                                <td>@city.About</td>

                                <td>@city.Dwellers</td>

                                <td>@city.Location</td>

                                <td>@city.Weather</td>

                                <td>@city.Country.Name</td>

                                <td>@city.Country.About</td>

                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center alert alert-danger">
                                No City data found!!!.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.Pager != null && Model.Pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.Pager.CurrentPage == 1)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="pageDataLink page-link text-primary" data-href="@Url.Action("CityListing", "City", new { pageNo = Model.Pager.CurrentPage - 1, categoryId = Model.CountryId, search = Model.CityName })" style="cursor:pointer">Previous</a>
                            </li>
                        }
                        @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                        {
                            var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="pageDataLink page-link" data-href="@Url.Action("CityListing", "City", new { pageNo = page, categoryId = Model.CountryId, search = Model.CityName })" style="cursor:pointer">@page</a>
                            </li>
                        }
                        @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="pageDataLink page-link text-primary" data-href="@Url.Action("CityListing", "City", new { pageNo = Model.Pager.CurrentPage + 1, categoryId = Model.CountryId, search = Model.CityName })" style="cursor:pointer">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

<script>
    $("#selectCountry").change(function () {
        $.ajax({
            url: '@Url.Action("CityListing", "City")',
            data: {
                search: $("#searchTxt").val(),
                countryId: $("#selectCountry").val()
            }

        })
            .done(function (response) {

                $("#ListingTable").html(response);


            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


    });

    $("#searchBtn").click(function () {
        $.ajax({
            url: '@Url.Action("CityListing", "City")',
            data: {

                cityName: $("#searchTxt").val()
            }

        })
            .done(function (response) {

                $("#ListingTable").html(response);


            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


    });
    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        $.ajax({
            url: url
        })
            .done(function (response) {
                $("#ListingTable").html(response);
            })
            .fail(function () {
                alert("Fail");
            })
    });
</script>
